body {
  background-image: url("transaction2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: right top; */
}

.message {
  display: inline;
  border: 2px solid black;
  padding: 5px 5px;
}
.text {
  font-family: monospace;
  font-size: large;
}
.input {
  padding: 10px 10px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
}
